/* This is CSS */
* {
margin: 10%;
padding: 0;
}

#main-heading {
text-align: center;
background-color: #000000;
color: #ff6e40; 
}

head {
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
}

header {
background-color: #ecc19c;
}

main {
text-align: left;
background-color: #1e847f;
color: white;
}

#image-of-self {
max-width: 50%;
max-height: 250%;
}
p {
font-size: 20px;
width: 75%;
 color: #ff6e40;
}
 
footer {
background-color: #000000;
color: white;
}

head, 
body, 
footer {
margin-top: 10%;
margin-right: 10%;
margin-bottom: 10%;
margin-left: 10%;
}

/* Class Selectors */
.padding-border {
padding-top: 60px;
padding-bottom: 60px;
border: solid 20px scarlet;
}

/* Pseudo Class Selectors */
a:link {
color:
}

a:visited {
color: #FF0000;
}

a:hover {
color:
}

a:active {
color:
}
