/* This is CSS */
<style>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet"> 
</style>

* {
margin: 0;
padding: 0;
}

#grad {
background: linear-gradient(bottom to top, #000, #847fe6, rgba(30, 132, 127, 0.25);
}

#main-heading {
text-align: center;
text-color: rgba(30, 132, 127, .25);
font-family: cursive, righteous;
 font-weight: bold;
 background-color: rgb(0, 0, 0);
padding-top: 60px;
padding-bottom: 60px;
}

head {
text-align: center;
font-family: cursive, righteous;
font-weight: bold;
 padding-top: 60px;
 padding-bottom: 60px;
}

header {
font-family: cursive, righteous;
 font-weight: bold;
 }
 
main {
text-align: left;
font-family: cursive, righteous;
font-weight: bold;
text-color: #000;
}

p {
font-family: cursive, righteous;
 font-weight: bold;
 text-align: justify;
 font-size: 20px;
 color: #000000;
}

.logo {

}

.lightbulb {
margin: auto;
border-radius: 10%;
}

.library {
margin: auto;
border-radius: 10%;
}

.maldives {
margin: auto;
border-radius: 10%;
}

.image-self {
max-width: 3000px;
max-height: 3000px;
background-size: cover;
box-sizing: border-box;
border-radius: 10%;
}

footer {
font-family: cursive; righteous;
 font-weight: bold;
 background-color: rgb(0, 0, 0);
color: rgb(30, 132, 127);
}

/* Class Selectors */
.padding-border {
padding-top: 60px;
padding-right: 30px;
 padding-bottom: 60px;
 padding-left: 30px;
}

/* Pseudo Class Selectors */
a:link {
color: rgb(30, 132, 127);
}

a:visited {
color: #FF0000;
}

a:hover {
color: #87dd3f;
}

a:active {
color: #e39ff6;
}
